a{
  text-decoration: none;
}
*{
  margin:0;
  padding:0;
}
@media screen and (max-width: 1200px) {
  html .loadBoxAll{
    left:665px;
  }
}
body {	
	color:#2D2D2D;
  background: #FFFFFF;
  overflow-x: hidden;
}
html, body {
  height:100%;
}

/****************************Home*******************************/
.HomeHeaderLogo{
  background-image: url(./images/logow-02-02.png);
  background-size: contain;
  position: absolute;
  height: 42px;
  width: 152px;
  left: 24px;
  top: 12px;
  z-index: 3000;
}
.HomePageFrontName{
  position: absolute;
  width: 130px;
  right: calc(27% - 350px);
  top: 24px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  z-index: 5;
}
.HomePageFrontName:hover{
  cursor:pointer;

}
#HomePageFrontNameImage{
  position: absolute;
  right: calc(27% - 200px);
  top: 21px;
}
.HomePageFrontNameHiddenBox{
  position: absolute;
  width: 133px;
  height: 120px;
  right: calc(27% - 350px);
  top: 55px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  z-index: 5;
}
#HomePageFrontNameHiddenBoxMyHomePage{
  position: absolute;
  height: 22px;
  width: 57px;
  left: 40px;
  top: 10px;
  text-align: center;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
#HomePageFrontNameHiddenBoxMyHomePage:hover{
  text-decoration-line: underline;
  cursor:pointer;
}
#HomePageFrontNameHiddenBoxManage{
  position: absolute;
  height: 22px;
  width: 57px;
  left: 40px;
  top: 40px;
  text-align: center;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
#HomePageFrontNameHiddenBoxManage:hover{
  text-decoration-line: underline;
  cursor:pointer;
}
.HomePageFrontNameHiddenBoxLine{
  position: absolute;
  left: 7px;
  top: 74px;
  width: 120px;
  height: 0px;
  border-bottom: 2px solid #E0E0E0;
}
#HomePageFrontNameHiddenBoxExit{
  position: absolute;
  height: 22px;
  width: 57px;
  left: 40px;
  top: 85px;
  text-align: center;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #FF737F;
}
#HomePageFrontNameHiddenBoxExit:hover{
  text-decoration-line: underline;
  cursor:pointer;
}



/***********************FirstPage***********************/
.FirstPageUnLoadBox{
  position: absolute;
  width: 365px;
  height: 207px;
  left: calc(10% + 850px);
  top: 103px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
#FirstPageUnLoadBoxText{
  position: absolute;
  left: 129px;
  top: 91px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
#FirstPageUnLoadBoxLoadLink{
  position: absolute;
  left: 114px;
  top: 143px;
  font-family: Microsoft YaHei UI;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #B9B9B9;
}
#FirstPageUnLoadBoxRegisterLink{
  position: absolute;
  left: 207px;
  top: 143px;
  font-family: Microsoft YaHei UI;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #B9B9B9;
}
#FirstPageUnLoadBoxLoadLink:hover,#FirstPageUnLoadBoxRegisterLink:hover{
  text-decoration: underline;
  color: #263B64;
  cursor:pointer;
}
.FirstPageUserBox{
  position: fixed;
  width: 365px;
  left: calc(10% + 850px);
  top: 103px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.FirstPageUserBoxNameBox{
  margin: 0 0 0 16px;
  height: 115px;
  width: 333px;
  left: 16px;
  border-bottom: 2px solid #E0E0E0;
  overflow:hidden;
}
#FirstPageUserBoxName{
  width: 100px;
  margin: 50px 0 0 100px;
  text-align: center;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color:#2D2D2D;
}
.FirstPageUserBoxOrganizationBox{
  margin: 0 0 30px 16px;
  width: 333px;
  left: 16px;
  overflow:hidden;




}
.FirstPageUserOrganizationHeader{
  margin: 17px 0 0 0;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.FirstPageUserOrganizationHeaderText{
  display: inline-block;
  position: relative;
  left: 15px;
  bottom: 8px;
}
.FirstPageUserOrganizationList{
  position: relative;
  left: 42px;
  bottom: 10px;  
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #B9B9B9;
}
.FirstPageUserOrganization{
  margin: 10px 0 0 0;
}
.FirstPageUserOrganization:hover{
  cursor: pointer;
}




.MessageBox{
  margin: 0 0 16px 0;
  padding: 26px 32px;
  height: 80px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.MessageBox:hover{
  cursor:pointer;
}
.MessageBoxHeader{
  height: 22px;
  width: 459px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #263B64;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.MessageBoxMainText{
  position: relative;
  top: 18px;
  font-size: 14px;
  width: 430px; 
  height: 40px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
  line-height: 20px;
  word-break: break-all;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.MessageBoxTopDot{
  position: relative;
  bottom: 72px;
  left: 792px;
  height: 13px;
  width: 13px;
  border-radius: 9px;
  background: #FFAE12;
}
.MessageBoxTime{
  float: right;
  position: relative;
  bottom: 35px;
  left: 13px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #B9B9B9;
}
.MessageBoxPoster{
  float: right;
  position: relative;
  bottom: 5px;
  left: 133px;
  width: 190px;
}
.MessageBoxName{
  float: right;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.MessageBoxCompanyName{
  float: right;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.ToPostingBox{
  position: absolute;
  width: 150px;
  height: 65px;
  left: calc(10% + 850px);
  top: 459px;
}
.ToPostingBoxText{
  color:#626262;
  font-weight:700;
  font-size:14px;
  letter-spacing:0.1px;
  position:absolute;
  left: 75px;
  top: 23px;
}
/****************************the posting*******************************/
.HomePageWriterBox{
  position: fixed;
  width: 365px;
  height: 100px;
  left: calc(10% + 830px);
  top: 123px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
#HomePageWriterBoxName{
  width: 100px;
  position: absolute;
  left: 132px;
  top: 30px;
  text-align: center;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color:#2D2D2D;
}
.HomePagePostingHeader{
  margin: 8px 1px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #E0E0E0;
}
.HomePagePostingHeaderText{
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #263B64;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  white-space:normal;
  word-break:break-all;
  word-wrap:break-word; 
}
.HomePagePostingHeaderTime{
  margin: 12px 0 0 0;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #B9B9B9;
}
.HomePagePostingText{
  margin: 38px 1px;
  padding: 0 0 48px 0;
  /*border-bottom: 1px solid #E0E0E0;*/
}
.HomePagePostingTextContent{
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.1px;
  color: #626262;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  white-space:normal;
  word-break:break-all;
  word-wrap:break-word; 
}




/**************************** My Posting *******************************/
.MyPostingMainCloseIcon{
  margin: 40px 8px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: #B9B9B9;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}
.MyPostingMainCloseIcon:hover{
  background-color: #626262;
  cursor:pointer;
}
.MyPostingMainFinishIcon{
  position: relative;
  left: 620px;
  bottom: 85px;
  margin: 40px 8px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: #263B64;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}
.MyPostingMainFinishIcon:hover{
  background-color: #263B64;
  cursor:pointer;
}

.MyPostingMainCloseBox{
  position: fixed;
  width: 425px;
  height: 228px;
  left: calc(50% - 425px/2 + 1.5px);
  top: calc(50% - 228px/2 - 10px);
  background: #FFFFFF;
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
}
.MyPostingMainCloseBoxSentimentVeryDissatisfiedIcon{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 94px;
  top: 99px;
}
.MyPostingMainCloseBoxText{
  position: absolute;
  width: 189px;
  height: 23px;
  left: calc(50% - 189px/2 + 17.5px);
  top: calc(50% - 23px/2 - 4px);
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #2D2D2D;
}
.MyPostingMainCloseBoxCloseButtons{
  position: absolute;
  left: 20px;
  top: 164px;
}
.MyPostingMainCloseBoxBackButtons{
  position: absolute;
  left: 303px;
  top: 164px;
}

.MyPostingMainFinishBox{
  position: fixed;
  width: 425px;
  height: 228px;
  left: calc(50% - 425px/2 + 1.5px);
  top: calc(50% - 228px/2 - 10px);
  background: #FFFFFF;
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
}
.MyPostingMainFinishBoxSentimentSatisfiedAltIcon{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 146px;
  top: 99px;
}
.MyPostingMainFinishBoxText{
  position: absolute;
  width: 189px;
  height: 23px;
  left: calc(50% - 189px/2 + 17.5px);
  top: calc(50% - 23px/2 - 4px);
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #2D2D2D;
}
.MyPostingMainFinishBoxFinishButtons{
  position: absolute;
  left: 283px;
  top: 164px;
}

/**************************** SchoolCompany List *******************************/
.SchoolCompanyList{
  position: absolute;
  width: 1041px;
  height: 830px;
  top: 113px;
  left: calc(50% - 1041px/2);
}
@media screen and (max-width: 1041px) {
  html .SchoolCompanyList{
    left:0px;
  }
}
.SchoolCompanyListPagination{
  margin: 0 0 31px 0;
}
.SchoolCompanyLink{
  width: 1041px;
  height: 245px;
  margin: 0 0 31px 0;

  background: #FFFFFF;
  
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow:hidden;
}
.SchoolCompanyLink:hover{
  cursor:pointer;
}
.SchoolCompanyImg{
  margin: 33px 0 0 40px;
  top: 10px;
  width: 360px;
  height: 180px;
  background: #DDDDDD;
  border-radius: 4px;  
}
.SchoolCompanyName{
  position: relative;
  left: 469px;
  bottom: 128px;
  height: 38px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #263B64;
}
.SchoolCompanyContent{
  position: relative;
  left: 471px;
  bottom: 119px;
  height: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolCompanyPage{
  position: absolute;
  width: 712px;
  height: 569px;
  left: calc(50% - 712px/2 + 10px);
  top: 115px;
  background: #FFFFFF;
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
  z-index: 5000;
}
@media screen and (max-width: 712px) {
  html .schoolCompanyPage{
    left:0px;
  }
}
.SchoolCompanyToLink{
  position: relative;
  left: 961px;
  bottom: 99px; 
}
.schoolCompanyPageImg{
  position: absolute;
  width: 278px;
  height: 139px;
  left: 45px;
  top: 37px;
  background: #DDDDDD;
  border-radius: 4px;
}
.schoolCompanyPageName{
  position: absolute;
  left: 356px;
  top: 72px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #263B64;
}
.schoolCompanyPageContent{
  position: absolute;
  left: 356px;
  top: 119px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolCompanyPageLongContent{
  position: absolute;
  height: 85px;
  width: 619px;
  left: 49px;
  top: 213px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.1px;
  color: #626262;
  overflow:auto;
}
.schoolCompanyPageEmail{
  position: absolute;
  left: 100px;
  top: 365px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolCompanyPagePhone1{
  position: absolute;
  left: 100px;
  top: 412px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolCompanyPagePhone2{
  position: absolute;
  left: 100px;
  top: 453px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolCompanyPageLocation{
  position: absolute;
  left: 100px;
  top: 495px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolCompanyPageLine{
  position: absolute;
  width: 647px;
  height: 0px;
  left: 34px;
  top: 327px;
  border-bottom: 2px solid #E0E0E0;
}

.schoolCompanyPageMailIcon{
  position: absolute;
  left: 47px;
  top: 364px;
}
.schoolCompanyPagePhoneIcon{
  position: absolute;
  left: 47px;
  top: 406px;
}
.schoolCompanyPageStayPrimaryPortraitIcon{
  position: absolute;
  left: 47px;
  top: 447px;
}
.schoolCompanyPageLocationOnIcon{
  position: absolute;
  left: 47px;
  top: 491px;
}
.schoolCompanyPageCloseIcon{
  position: absolute;
  left: 746px;
  top: 22px;
}
.schoolCompanyPageCloseIcon:hover{
  cursor: pointer;
}

/**************************** School project List *******************************/
.SchoolProjectList{
  position: absolute;
  width: 1041px;
  height: 830px;
  top: 113px;
  left: calc(50% - 1041px/2);
}
@media screen and (max-width: 1041px) {
  html .SchoolProjectList{
    left:0px;
  }
}
.SchoolProjectListPagination{
  margin: 0 0 31px 0;
}
.SchoolProjectLink{
  width: 1041px;
  height: 245px;
  margin: 0 0 31px 0;

  background: #FFFFFF;
  
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow:hidden;
}
.SchoolProjectLink:hover{
  cursor:pointer;
}
.SchoolProjectImg{
  margin: 33px 0 0 40px;
  top: 10px;
  width: 360px;
  height: 180px;
  background: #DDDDDD;
  border-radius: 4px;  
}
.SchoolProjectName{
  position: relative;
  left: 469px;
  bottom: 128px;
  height: 38px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #263B64;
}
.SchoolProjectContent{
  position: relative;
  left: 471px;
  bottom: 119px;
  height: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.SchoolProjectToLink{
  position: relative;
  left: 961px;
  bottom: 99px; 
}
.schoolProjectPage{
  position: absolute;
  width: 712px;
  height: 518px;
  left: calc(50% - 712px/2 + 10px);
  top: 115px;
  background: #FFFFFF;
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
  z-index: 5000;
}
@media screen and (max-width: 712px) {
  html .schoolProjectPage{
    left:0px;
  }
}
.schoolProjectPageImg{
  position: absolute;
  width: 278px;
  height: 139px;
  left: 45px;
  top: 37px;
  background: #DDDDDD;
  border-radius: 4px;
}
.schoolProjectPageName{
  position: absolute;
  left: 356px;
  top: 72px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #263B64;
}
.schoolProjectPageContent{
  position: absolute;
  left: 356px;
  top: 119px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolProjectPageLongContent{
  position: absolute;
  height: 85px;
  width: 619px;
  left: 49px;
  top: 213px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.1px;
  color: #626262;
  overflow:auto;
}
.schoolProjectPageEmail{
  position: absolute;
  left: 100px;
  top: 365px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolProjectPagePhone1{
  position: absolute;
  left: 100px;
  top: 412px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolProjectPagePhone2{
  position: absolute;
  left: 100px;
  top: 453px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolProjectPageLocation{
  position: absolute;
  left: 100px;
  top: 495px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.schoolProjectPageLine{
  position: absolute;
  width: 647px;
  height: 0px;
  left: 34px;
  top: 327px;
  border-bottom: 2px solid #E0E0E0;
}
.schoolProjectPageMailIcon{
  position: absolute;
  left: 47px;
  top: 364px;
}
.schoolProjectPagePhoneIcon{
  position: absolute;
  left: 47px;
  top: 406px;
}
.schoolProjectPageStayPrimaryPortraitIcon{
  position: absolute;
  left: 47px;
  top: 447px;
}
.schoolProjectPageLocationOnIcon{
  position: absolute;
  left: 47px;
  top: 491px;
}
.schoolProjectPageCloseIcon{
  position: absolute;
  left: 746px;
  top: 22px;
}
.schoolProjectPageCloseIcon:hover{
  cursor: pointer;
}