a{
  text-decoration: none;
}
*{
  margin:0;
  padding:0;
}
html body .MuiBox-root{
  padding:0;
}

body {	
	color:#2D2D2D;
  overflow-x: hidden;
}
html, body {
  height:100%;
}
.myhomeSpaceBackgroundBlack{
  margin: 0;
  width: 100%;
  background-color: #DCE0E6;
  border:1px solid #DCE0E6;
}
.myhomeSpaceBackgroundWhite{
  position: relative;
  top: 27px;
  left: calc(50% - 1047px/2 + 1.5px);
  min-height: 680px;
  width: 1047px;
  background-color: #ffffff;
  margin-bottom: 50px;
  overflow:hidden;
}
@media screen and (max-width: 1047px) {
  .myhomeSpaceBackgroundWhite{
    left: 0px;  
  }  
}
.myhomeSpaceNameBox{
  width: 932px;
  height: 114px;
  margin: 70px 53px;
  border-bottom: 1px solid #E0E0E0;
}

.myhomeSpaceNameBoxName{
  position: absolute;
  left: 196px;
  top: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #2D2D2D;
}
.myhomeSpaceNameChangeButton{
  position: relative;
  height: 30px;
  width: 30px;
  left: 635px;
  top: 5px;
  border-radius: 50%;
  
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.myhomeSpaceNameChangeButton:hover{
  cursor: pointer;
}

.myhomeSpaceNameChangeFinishButton{
  position: absolute;
  height: 30px;
  width: 30px;
  left: 465px;
  top: 75px;
  border-radius: 50%;
  
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.myhomeSpaceNameChangeFinishButton:hover{
  cursor: pointer;
}
.myhomeSpaceNameChangeCloseButton{
  position: absolute;
  height: 30px;
  width: 30px;
  left: 532px;
  top: 75px;
  border-radius: 50%;
  
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.myhomeSpaceNameChangeCloseButton:hover{
  cursor: pointer;
}

.myhomeSpaceNameBoxSignature{
  position: absolute;
  left: 199px;
  top: 107px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
}
.myhomeSpaceOrganizationBox{
  width: 932px;
  margin: 70px 53px;
}

.myhomeSpaceOrganizationBoxHeader{
  position: relative;
  left: 40px;
  width: 300px;
}
.myhomeSpaceOrganizationBoxHeaderText{
  position: relative;
  left: 18px;
  bottom: 9px;
  display: inline-block;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #2D2D2D;
}
.myhomeSpaceOrganizationBoxList{
  margin: 10px 0 0 0;
  display: grid;
  position: relative;
  left: 40px;
  width: 852px;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-row-gap: 30px;
  grid-column-gap: 36px;
}
.myhomeSpaceOrganizationProject{
  height: 138px;
  width: 260px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-left: 7px solid #FFAE12;
}
.myhomeSpaceOrganizationCompany{
  height: 138px;
  width: 260px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-left: 7px solid #5C84D2;

}
.myhomeSpaceOrganizationCreate{
  height: 138px;
  width: 267px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.myhomeSpaceOrganizationCreate:hover{
  cursor: pointer;
}
.myhomeSpaceOrganizationProjectName{
  position: relative;
  left: 110px;
  top: 47px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #2D2D2D;
}
.myhomeSpaceOrganizationCompanyName{
  position: relative;
  left: 110px;
  top: 47px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #2D2D2D;
}
.myhomeSpaceOrganizationCreateTextBox{
  position: relative;
  left: 55px;
  top: 50px;
}
.myhomeSpaceOrganizationCreateText{
  position: relative;
  left: 21px;
  bottom: 8px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #626262;
  display: inline-block;
}
.CreateOrganizationPage{
  position: fixed;
  width: 555px;
  height:676px;
  left: calc(50% - 555px/2 + 1.5px);
  top: 40px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
@media screen and (max-width: 555px) {
  .CreateOrganizationPage{
    left: 0px;  
  }  
}
.CreateOrganizationPageBack{
  position: fixed;
  width: 33px;
  height: 33px;
  left: calc(50% + 555px/2 + 25px);
  top: 47px;
}
.CreateOrganizationPageBack:hover{
  cursor: pointer;
}
.CreateOrganizationPageHeader{
  position: absolute;
  left: 58px;
  top: 27px;

}
.CreateOrganizationPageHeaderText{
  position: relative;
  border-radius: 5px;
  margin: 0 0 0 20px;
  display: inline-block;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 157%;

  letter-spacing: 0.1px;
  
  color: #626262;
  
}
.CreateOrganizationPageText1{
  position: absolute;
  width: 60px;
  height: 22px;
  left: 63px;
  top: 97px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  /* identical to box height, or 22px */
  
  letter-spacing: 0.1px;
  
  color: #626262;
}
.CreateOrganizationPageText2{
  position: absolute;
  width: 60px;
  height: 22px;
  left: 63px;
  top: 438px;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  /* identical to box height, or 22px */
  
  letter-spacing: 0.1px;
  
  color: #626262;
}
.CreateOrganizationPageInputs{
  position: absolute;
  width: 270px;
  height: 572px;
  left: 167px;
  top: 97px;
  background-color: #5C84D2;
}
